services:
    neodev.anubisbb.controller.api:
        class: neodev\anubisbb\controller\api_controller
        arguments:
            - '@config'
            - '@controller.helper'
            - '@request'
            - '@template'
            - '@user'
            - '@dbal.conn'
            - '@language'

    neodev.anubisbb.controller.pages:
        class: neodev\anubisbb\controller\pages_controller
        arguments:
            - '@config'
            - '@controller.helper'
            - '@request'
            - '@template'
            - '@user'
            - '@language'

    neodev.anubisbb.controller.acp:
        class: neodev\anubisbb\controller\acp_controller
        arguments:
            - '@config'
            - '@controller.helper'
            - '@language'
            - '@log'
            - '@request'
            - '@template'
            - '@user'

    neodev.anubisbb.interceptor:
        class: neodev\anubisbb\event\intercept
        arguments:
            - '@user'
            - '@request'
            - '@config'
            - '@controller.helper'
            - '@cache'
        tags:
            - { name: event.listener }

    neodev.anubisbb.locator:
        class: neodev\anubisbb\event\page_mapping
        arguments:
            - '@language'
        tags:
            - { name: event.listener }

    neodev.anubisbb.sessions:
        class: neodev\anubisbb\event\sessions
        arguments:
            - '@user'
            - '@request'
            - '@config'
            - '@dbal.conn'
            - '@controller.helper'
        tags:
            - { name: event.listener }

    neodev.anubisbb.cron.task.logrotate:
        class: neodev\anubisbb\cron\task\logrotate
        arguments:
            - '@config'
        calls:
            - [ set_name, [ cron.task.neodev.anubisbb.logrotate ] ]
        tags:
            - { name: cron.task }
