{% include "@neodev_anubisbb/header.html" %}
<div class="centered-div">
	<img id="image" class="anubis-img" src="{{ ROOT_PATH }}ext/neodev/anubisbb/styles/all/theme/img/happy.webp" alt="Anubis rejoices">
	<form method="post">
		<div class="panel">
			<div class="inner">
				<div class="content">
					<fieldset class="fields1">
						<h3>{{ lang('CONTACT') }}</h3>
						{% if ERROR_MESSAGE %}<p class="error">{ERROR_MESSAGE}</p>{% endif %}
						<dl>
							<dt><label for="name">{L_SENDER_NAME}{L_COLON}</label></dt>
							<dd><input type="text" name="name" id="name" size="15" tabindex="1" value="{NAME}"/></dd>
						</dl>
						<dl>
							<dt><label for="email">{L_SENDER_EMAIL_ADDRESS}{L_COLON}</label></dt>
							<dd><input type="text" name="email" id="email" size="30" maxlength="100" tabindex="2" value="{EMAIL}"/></dd>
						</dl>
						<dl>
							<dt><label for="subject">{L_SUBJECT}{L_COLON}</label></dt>
							<dd><input type="text" name="subject" id="subject" size="30" tabindex="3" value="{SUBJECT}"/></dd>
						</dl>
						<dl>
							<dt><label for="message">{L_MESSAGE_BODY}{L_COLON}</label><br/>
								<span>{L_EMAIL_BODY_EXPLAIN}</span></dt>
							<dd><textarea name="message" id="message" rows="15" cols="60" tabindex="4">{MESSAGE}</textarea></dd>
						</dl>
						<dl>
							<dt>&nbsp;</dt>
							<dd><input type="submit" tabindex="6" name="submit" class="button1" value="{L_SEND_EMAIL}"/></dd>
						</dl>
					</fieldset>
				</div>
			</div>
		</div>
		{{ S_HIDDEN_FIELDS }}
		{{ S_FORM_TOKEN }}
	</form>
</div>
{% include "@neodev_anubisbb/footer.html" %}
