<footer>
	<div class="centered-div">
		<p><a href="{{ ROOT_PATH }}ucp.php?mode=login">{{ lang('LOGIN') }}</a> | <a href="{{ ROOT_PATH }}memberlist.php?mode=contactadmin">{{ lang('CONTACT') }}</a></p>
		<p>Protected by <a href="https://github.com/TecharoHQ/anubis">Anubis</a> from <a href="https://techaro.lol">Techaro</a>. Made with ❤️ in 🇨🇦.</p>
		<p>Mascot design by <a href="https://bsky.app/profile/celphase.bsky.social">CELPHASE</a>.</p>
		<p>Modified for <a href="https://phpBB.com">phpBB</a> by <a href="https://github.com/Neo-CTC">NeoDev</a></p>

	</div>
</footer>
</main>
</body>
</html>
