<footer>
	<div class="bottom-navbar">
		<div><a href="{{ ROOT_PATH }}index.php">{{ lang('FORUM_INDEX') }}</a></div>
		<div><a href="{{ login_path }}">{{ lang('LOGIN') }}</a></div>
		<div><a href="{{ contact_path }}">{{ lang('CONTACT') }}</a></div>
	</div>
	<hr>
	<div class="centered-div">
		<p>Protected by <a href="https://github.com/TecharoHQ/anubis">Anubis</a> from <a href="https://techaro.lol">Techaro</a>. Made with
			❤️ in 🇨🇦.</p>
		<p>Mascot design by <a href="https://bsky.app/profile/celphase.bsky.social">CELPHASE</a>.</p>
		<p>Modified for <a href="https://phpBB.com">phpBB</a> by <a href="https://github.com/Neo-CTC">NeoDev</a></p>
	</div>
</footer>
</main>
</body>
</html>
