<!doctype html>
<html lang="en">
<head>
	<title>{{ SITENAME }} - {{ title ?? PAGE_TITLE }}</title>
	<link rel="stylesheet" href="{{ ROOT_PATH }}ext/neodev/anubisbb/styles/all/theme/xess.css">
	<link rel="stylesheet" href="{{ ROOT_PATH }}ext/neodev/anubisbb/styles/all/theme/extra.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="robots" content="noindex,nofollow">
	<meta charset="UTF-8">
	<script id="anubis_settings" type="application/json">
	{
		"version":"{{ version }}",
		"static_prefix":"{{ ROOT_PATH }}ext/neodev/anubisbb/styles/all/theme/",
		"routes": {
			"pass": "{{ pass_path }}",
			"login": "{{ login_path }}",
			"contact": "{{ contact_path }}"
		},
		"user_lang": "{{ user_lang }}"
	}


	</script>
	{% if challenge %}
		<script id="challenge" type="application/json">
	{
		"challenge": "{{ challenge }}",
		"timestamp":"{{ timestamp }}",
		"rules": {
			"difficulty": "{{ difficulty }}",
			"report_as": "{{ difficulty }}",
			"algorithm": "fast"
		}
	}


		</script>
	{% endif %}
</head>
<body id="top">
<main>
	<h1 id="title" class="centered-div">{{ title ?? MESSAGE_TITLE }}</h1>
