{% include "@neodev_anubisbb/header.html" %}
<div class="centered-div">
	<form method="post">
		<h1>{{ lang('LOGIN') }}</h1>
		<div style="display: flex; margin-top: 6px">
			<div style="flex: 1;text-align: right; padding-right: 3px; border-right: 2px solid; margin-right: 3px; ">
				<h3 style="margin: 0"><a href="{{ ROOT_PATH }}index.php">{{ lang('FORUM_INDEX') }}</a></h3>
			</div>
			<div style="flex: 1;text-align: left">
				<h3 style="margin: 0"><a href="{{ contact }}">{{ lang('CONTACT_US') }}</a></h3>
			</div>
		</div>
		{% if error %}
		<div style="border: #ca0000 5px solid;padding: 2px;margin: 16px auto">{{ lang(error) }}</div>
		{% endif %}
		<div style="margin: auto;text-align: left;width: fit-content">
			<dl>
				<dt><label for="username">{{ lang('USERNAME') }}{{ lang('COLON') }}</label></dt>
				<dd>
					<input type="text" tabindex="1" name="username" id="username" value="{{ USERNAME }}" autocomplete="username">
				</dd>
			</dl>

			<dl>
				<dt><label for="password">{{ lang('PASSWORD') }}{{ lang('COLON') }}</label></dt>
				<dd>
					<input type="password" tabindex="2" id="password" name="password" autocomplete="current-password">
				</dd>
			</dl>
		</div>

		{# TODO: catpcha #}

		{% if CAPTCHA_TEMPLATE %}
			<style>
				h2 {
					text-align: center;;
				}
				.captcha_box {
					text-align: left;
					border: 1px black solid;
					padding: 8px;
					width: min-content;
					min-width: 220px;
					max-width: 500px;
					box-sizing: border-box;
					margin: auto;
				}
				.captcha_box span {
					font-size: smaller;
				}
			</style>
		<div class="captcha_box">
			<h2>Captcha</h2>
		<!-- DEFINE $CAPTCHA_TAB_INDEX = 3 -->
		{% include CAPTCHA_TEMPLATE %}
		</div>
		{% endif %}
		{{ S_HIDDEN_FIELDS }}
		{{ captcha_hf }}
		<input type="hidden" name="token" value="{{ token }}">
		<input type="submit" name="login" tabindex="6" value="{{ lang('LOGIN') }}" style="margin: 12px">
	</form>
</div>

{% include "@neodev_anubisbb/footer.html" %}
