{% include "@neodev_anubisbb/header.html" %}
<div class="centered-div">
	<img id="image" class="anubis-img" src="{{ ROOT_PATH }}ext/neodev/anubisbb/styles/all/theme/img/pensive.webp" alt="Anubis pensively waits">
	<form action="{{ login }}" method="post" id="login" data-focus="{{ USERNAME_CREDENTIAL }}">
		<div class="panel">
			<div class="inner">
				<div class="content">
					<fieldset class="fields1">
						<h3>{L_LOGIN}</h3>
						{% if LOGIN_ERROR %}
							<div class="error">{LOGIN_ERROR}</div>{% endif %}
						<dl>
							<dt><label for="username">{{ lang('USERNAME') }}{{ lang('COLON') }}</label></dt>
							<dd>
								<input type="text" tabindex="1" name="username" id="username" size="25" autocomplete="username"/>
							</dd>
						</dl>
						<dl>
							<dt><label for="password">{{ lang('PASSWORD') }}{{ lang('COLON') }}</label></dt>
							<dd>
								<input type="password" tabindex="2" id="password" name="password" size="25" autocomplete="current-password"/>
							</dd>
							{% if U_SEND_PASSWORD or U_RESEND_ACTIVATION %}
								{% if U_SEND_PASSWORD %}
									<dd><strong><a href="{{ U_SEND_PASSWORD }}">{{ lang('FORGOT_PASS') }}</a></strong></dd>
								{% endif %}
								{% if U_RESEND_ACTIVATION %}
									<dd><strong><a href="{{ U_RESEND_ACTIVATION }}">{{ lang('RESEND_ACTIVATION') }}</a></strong></dd>
								{% endif %}
							{% endif %}
						</dl>
						{% if CAPTCHA_TEMPLATE and S_CONFIRM_CODE %}
							{# Use phpBB DEFINE due to odd varible name #}
							<!-- DEFINE $CAPTCHA_TAB_INDEX = 3 -->
							{% include CAPTCHA_TEMPLATE %}
						{% endif %}
						<dl>
							<dt>&nbsp;</dt>
							{% if S_AUTOLOGIN_ENABLED %}
								<dd>
									<label for="autologin"><input type="checkbox" name="autologin" id="autologin" tabindex="4"/> {{ lang('LOG_ME_IN') }}
									</label>
								</dd>
							{% endif %}
							<dd>
								<label for="viewonline"><input type="checkbox" name="viewonline" id="viewonline" tabindex="5"/> {{ lang('HIDE_ME') }}
								</label>
							</dd>
						</dl>

						{S_LOGIN_REDIRECT}
						{S_FORM_TOKEN_LOGIN}
						{S_HIDDEN_FIELDS}
						<input type="hidden" name="token" value="{{ token }}">
						<dl>
							<dd><input class="button1" type="submit" name="login" tabindex="6" value="{{ lang('LOGIN') }}"></dd>
						</dl>

						{% if S_REGISTER_ENABLED %}
							<hr>
							<h3>{{ lang('REGISTER') }}</h3>
							<p>{{ lang('LOGIN_INFO') }}</p>
							<p><strong><a href="{{ U_TERMS_USE }}">{{ lang('TERMS_USE') }}</a> |
									<a href="{{ U_PRIVACY }}">{{ lang('PRIVACY') }}</a></strong></p>
							<dl>
								<dd>
									<a href="{{ U_REGISTER }}"><input class="button1" type="button" tabindex="7" value="{{ lang('REGISTER') }}"></a>
								</dd>
							</dl>
						{% endif %}

					</fieldset>
				</div>

				{# What is this used for? #}
				{% if not S_ADMIN_AUTH and PROVIDER_TEMPLATE_FILE %}
					{% include PROVIDER_TEMPLATE_FILE %}
				{% endif %}
			</div>
		</div>
	</form>
</div>
{% include "@neodev_anubisbb/footer.html" %}
