{% include "@neodev_anubisbb/header.html" %}
<div class="centered-div">
	<img id="image" class="anubis-img" src="{{ ROOT_PATH }}ext/neodev/anubisbb/styles/all/theme/img/pensive.webp" alt="Anubis pensively waits">
	<img style="display:none;" src="{{ ROOT_PATH }}ext/neodev/anubisbb/styles/all/theme/img/happy.webp" alt="Anubis cheers">
	<p id="status">Loading...</p>
	<script async type="module" src="{{ ROOT_PATH }}ext/neodev/anubisbb/styles/all/theme/js/main.js"></script>
	<div id="progress" role="progressbar" aria-labelledby="status">
		<div class="bar-inner"></div>
	</div>
	<details>
		<summary>{{ lang('ANUBISBB_WHAT_SUMMARY') }}</summary>
		{{ lang('ANUBISBB_WHAT_DETAILS') }}
	</details>
	<noscript><p>{{ lang('ANUBISBB_NOJS_EXPLAIN') }}</p></noscript>
	<div id="testarea"></div>
</div>
{% include "@neodev_anubisbb/footer.html" %}
