{% include "@neodev_anubisbb/header.html" %}
<div class="centered-div">
	<img id="image" class="anubis-img" src="{{ ROOT_PATH }}ext/neodev/anubisbb/styles/all/theme/img/pensive.webp" alt="Anubis pensively waits">
	<img style="display:none;" src="{{ ROOT_PATH }}ext/neodev/anubisbb/styles/all/theme/img/happy.webp" alt="Anubis cheers">
	<p id="status">Loading...</p>
	<script async type="module" src="{{ ROOT_PATH }}ext/neodev/anubisbb/styles/all/theme/js/main.js"></script>
	<div id="progress" role="progressbar" aria-labelledby="status">
		<div class="bar-inner"></div>
	</div>
	<details>
		<summary>Why am I seeing this?</summary>
		<p>You are seeing this because the administrator of this website has set up
			<a href="https://github.com/TecharoHQ/anubis">Anubis</a> to protect the server against the scourge of
			<a href="https://thelibre.news/foss-infrastructure-is-under-attack-by-ai-companies/">AI companies aggressively scraping
				websites</a>. This can and does cause downtime for the websites, which makes their resources inaccessible for everyone.
		</p>
		<p>Anubis is a compromise. Anubis uses a <a href="https://anubis.techaro.lol/docs/design/why-proof-of-work">Proof-of-Work</a>
			scheme in the vein of <a href="https://en.wikipedia.org/wiki/Hashcash">Hashcash</a>, a proposed proof-of-work scheme for
			reducing email spam. The idea is that at individual scales the additional load is ignorable, but at mass scraper levels it
			adds up and makes scraping much more expensive.</p>
		<p>Ultimately, this is a hack whose real purpose is to give a "good enough" placeholder solution so that more time can be spent
			on fingerprinting and identifying headless browsers (EG: via how they do font rendering) so that the challenge proof of work
			page doesn't need to be presented to users that are much more likely to be legitimate.</p>
			<p>Please note that Anubis requires the use of modern JavaScript features that plugins like <a href="https://jshelter.org/">JShelter</a>
				will disable. Please disable JShelter or other such plugins for this domain.</p></details>
		<noscript><p>Sadly, you must enable JavaScript to get past this challenge. This is required because AI companies have changed the
				social contract around how website hosting works. A no-JS solution is a work-in-progress.</p></noscript>
		<div id="testarea"></div>
	</div>
{% include "@neodev_anubisbb/footer.html" %}
