{% include "@neodev_anubisbb/header.html" %}
<div class="centered-div">
	<img id="image" alt="Sad Anubis" class="anubis-img" src="{{ ROOT_PATH }}ext/neodev/anubisbb/styles/all/theme/img/reject.webp">
	<p>
		{{ lang('ANUBISBB_NOJS_EXPLAIN') }}
	</p>

	{% if referer %}<p><a href="{{ referer }}">{{ lang('ANUBISBB_NOJS_RETRY') }}</a></p>{% endif %}

	<details style="margin-bottom: 16px;">
		<summary>{{ lang('ANUBISBB_WHAT_SUMMARY') }}</summary>
		{{ lang('ANUBISBB_WHAT_DETAILS') }}
	</details>
</div>
{% include "@neodev_anubisbb/footer.html" %}
